extends layout

block content
    h1 Pug Template
    p This is a pug template
    h3 What you can do with this template:
    ul
        li Render pages easily in express api
        li Pass request with variable for pug html to handle
        li Etc!!!
        li #{list_obj}
