doctype html
html(lang='en')
    head
        title pug-template app
    body
        style
            include css/styles.css
        img(src="https://www.nodejsera.com/library/assets/img/pug-logo.png")
        block content
